<footer class="site-footer">
    <section class="container">
      <header class="section-header">
        <p class="section-description">INSCRRIBETE PARA RECIBIR</p>
        <h2 class="primary-title">NUESTRO BOLETÍN</h2>
      </header>
      <form class="newsletter-form">
        <input type="email" placeholder="Ingresa tu correo elétronico..." data-2>
        <button type="submit">Enviar</button>
        <small>Debes tener más de 18 años para usar nuestro sitio e inscribirte en las promociones.</small>
      </form>
      <hr class="mt-2">
      <ul class="links-list">
        <li class="list-content"><a class="footer-link" href="#">Sobre nosotros</a></li>
        <li class="list-content"><a class="footer-link" href="#">Preguntas frecuentes</a></li>
        <li class="list-content"><a class="footer-link" href="#">Políticas de privacidad</a></li>
        <li class="list-content"><a class="footer-link" href="#">Términos y condiciones</a></li>
      </ul>
      <p class="section-description txt-center fsize-1">&copy; 2021 CERVEXA</p>
    </section>
  </footer>