<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/e04cd2d7e3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/descripcion.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <p class="bar-message">¡Envíos gratis por compras superiores a $20.000!</p>
    <div class="site-header">
      <div class="menu-navbar-icon">
        <i class="secondary-color fas fa-bars fa-2x"></i>
      </div>
      <a class="logo_button" href="/"><h1><a href="/" data-1>Cervexa</a></h1></a> 
      <div class="cart-navbar-icon">
        <i class="secondary-color fas fa-shopping-basket fa-2x"></i>
      </div>
      <form>
        <input type="search" placeholder="Buscar producto, marca, categoría..." data-3>
        <button data-1><i class="fas fa-search"></i></button>
      </form>
      <nav class="option-menu">
        <ul data-3>
          <li>
            <a href="#" data-1>
              <i class="fas fa-gift fa-2x"></i>
              <span>Regalos</span>
            </a>
          </li>
          <li>
            <a href="/cart" data-1>
              <i class="fas fa-shopping-cart fa-2x"></i>
              <span>Carrito</span>
            </a>
          </li>
          <li>
            <a href="/login" data-1>
              <i class="fas fa-user-alt fa-2x"></i>
              <span>Cuenta</span>
            </a>
          </li>
        </ul>
      </nav>
      <nav class="category-menu">
        <ul data-4>
          <li><a href="#" data-1>Descubrir</a></li>
          <li><a href="#" data-1>Promociones</a></li>
          <li><a href="#" data-1>Cerveza</a></li>
          <li><a href="#" data-1>Vino</a></li>
          <li><a href="#" data-1>Ron</a></li>
          <li><a href="#" data-1>Whisky</a></li>
          <li><a href="#" data-1>Tequila</a></li>
          <li><a href="#" data-1>Alimentos</a></li>
        </ul>
      </nav>
    </div>
  </header>
    <main>
      <div class="image_description">
        <img src="/images/oldforester1920_1_360x.webp" alt="">
      </div>
      <div class="right_description">
        <div class="product_name">
          <h2>OLD FORESTER 1920 PHIBITION STYLE</h2>
        </div>
        <div class="product_description">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto eveniet dicta sapiente aliquid mollitia facere accusamus recusandae ipsa odit praesentium! Repellat nobis reprehenderit tempora ducimus culpa! Qui incidunt repellat mollitia?</p>
        </div>
        <div class="product_price">
          <p>$69.00</p>
        </div>
        <div class="button_car">
          <button type="submit" onclick="">Agregar al Carrito</button>
        </div>
      </div>     
    </main>
    <footer class="site-footer">
      <section class="container">
        <header class="section-header">
          <p class="section-description">INSCRRIBETE PARA RECIBIR</p>
          <h2 class="primary-title">NUESTRO BOLETÍN</h2>
        </header>
        <form class="newsletter-form">
          <input type="email" placeholder="Ingresa tu correo elétronico...">
          <button type="submit">Enviar</button>
          <small>Debes tener más de 18 años para usar nuestro sitio e inscribirte en las promociones.</small>
        </form>
        <hr class="mt-2">
        <ul class="links-list">
          <li class="list-content"><a class="footer-link" href="#">Sobre nosotros</a></li>
          <li class="list-content"><a class="footer-link" href="#">Preguntas frecuentes</a></li>
          <li class="list-content"><a class="footer-link" href="#">Políticas de privacidad</a></li>
          <li class="list-content"><a class="footer-link" href="#">Términos y condiciones</a></li>
        </ul>
        <p class="section-description txt-center fsize-1">&copy; 2021 CERVEXA</p>
      </section>
    </footer>
    <script src="/js/descripcion.js"></script>
</body>
</html>