<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Licores a domicilios 24hs | Entrega en minutos | Cervexa</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Questrial&family=Work+Sans:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/c094c4f2ad.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <p class="bar-message">¡Envíos gratis por compras superiores a $20.000!</p>
    <div class="container header-container">
      <div class="menu-navbar-icon">
        <i class="secondary-color fas fa-bars fa-2x"></i>
      </div>
      <h1 class="logo">
        Cervexa
      </h1>
      <div class="cart-navbar-icon">
        <i class="secondary-color fas fa-shopping-basket fa-2x"></i>
      </div>
    </div>
  </header>
  <main class="main-container">
    <div class="main-banner">
      xD
    </div>
    <section class="container">
        <header class="section-header">
          <p class="section-description">ENCUENTRA TU BEBIDA FAVORITA</p>
          <h2 class="section-title">DISFRUTA LA EXPERIENCIA</h2>
        </header>
        <div class="items-container">
          <article class="item-details">
            <i class="secondary-color fas fa-hand-holding-heart fa-3x"></i>
            <h3 class="article-description">GUÍA DE REGALOS</h3>
            <p class="article-info">Recomendaciones perfectas para hacer de cualquier fiesta una que siempre recordarán.</p>
          </article>
          <article class="item-details">
            <i class="secondary-color fas fa-pencil-alt fa-3x"></i>
            <h3 class="article-description">GRABADO PERSONALIZADO</h3>
            <p class="article-info">Recomendaciones perfectas para hacer de cualquier fiesta una que siempre recordarán.</p>
          </article>
          <article class="item-details">
            <i class="secondary-color fas fa-glass-cheers fa-3x"></i>
            <h3 class="article-description">EDICIONES LIMITADAS</h3>
            <p class="article-info">Reco cualquier fiesta una que siempre recordarán.</p>
          </article>
          <article class="item-details">
            <i class="secondary-color fas fa-gift fa-3x"></i>
            <h3 class="article-description">REGALOS CORPORATIVOS</h3>
            <p class="article-info">Recomendaciones perfectas para hacer de cualquier fiesta una que siempre recordarán.</p>
          </article>
      </div>
    </section>
    <section class="container highlighted-banners">
      <h2 hidden>Destacados</h2>
      <article class="highlighted-item">
        Uno
      </article>
      <article class="highlighted-item">
        Dos
      </article>
    </section>
    <section class="products-container">
      <div class="container">
        <header class="section-header">
        <p class="section-description">EXPLORA NUESTROS</p>
        <h2 class="section-title">PRODUCTOS DESTACADOS</h2>
      </header>
      <div class="items-container">
        <article class="item-details">
          <div class="item-image-container">
            <img class="item-image" src="./images/oldforester1920_1_360x.webp" alt="x"/>
          </div>
          <p class="item-description">OLD FORESTER</p>
          <h3 class="item-title">OLD FORESTER 1920 PHIBITION STYLE</h3>
          <p class="item-number">$69.00</p>
          <button class="standard-button mt-1">COMPRAR</button>
        </article>
        <article class="item-details">
          <div class="item-image-container">
            <img class="item-image" src="./images/oldforester1920_1_360x.webp" alt="x"/>
          </div>
          <p class="item-description">OLD FORESTER</p>
          <h3 class="item-title">OLD FORESTER 1920 PHIBITION STYLE</h3>
          <p class="item-number">$69.00</p>
          <button class="standard-button mt-1">COMPRAR</button>
        </article>
        <article class="item-details">
          <div class="item-image-container">
            <img class="item-image" src="./images/oldforester1920_1_360x.webp" alt="x"/>
          </div>
          <p class="item-description">OLD FORESTER</p>
          <h3 class="item-title">OLD FORESTER 1920 PHIBITION STYLE</h3>
          <p class="item-number">$69.00</p>
          <button class="standard-button mt-1">COMPRAR</button>
        </article>
        <article class="item-details">
          <div class="item-image-container">
            <img class="item-image" src="./images/oldforester1920_1_360x.webp" alt="x"/>
          </div>
          <p class="item-description">OLD FORESTER</p>
          <h3 class="item-title">OLD FORESTER 1920 PHIBITION STYLE</h3>
          <p class="item-number">$69.00</p>
          <button class="standard-button mt-1">COMPRAR</button>
        </article>
      </div>
    </div>
    </section>
    <section class="bg-white">
      <div class="container highlighted-banners">
      <h2 hidden>Destacados</h2>
      <article class="highlighted-item">
        Uno
      </article>
      <article class="highlighted-item">
        Dos
      </article>
    </div>
    </section>
  </main>
  <footer class="site-footer">
    <section class="container">
      <header class="section-header">
        <p class="section-description">INSCRRIBETE PARA RECIBIR</p>
        <h2 class="section-title">NUESTRO BOLETÍN</h2>
      </header>
      <div class="items-container">
        <form class="txt-center">
          <input class="standard-input" type="email" placeholder="Ingresa tu correo elétronico...">
          <button class="special-button">Enviar</button>
          <small class="small-description">Debes tener más de 18 años para usar nuestro sitio e inscribirte en las promociones.</small>
        </form>
      </div>
      <hr class="mt-2">
      <ul class="links-list">
        <li class="list-content"><a class="footer-link" href="#">Sobre nosotros</a></li>
        <li class="list-content"><a class="footer-link" href="#">Preguntas frecuentes</a></li>
        <li class="list-content"><a class="footer-link" href="#">Políticas de privacidad</a></li>
        <li class="list-content"><a class="footer-link" href="#">Términos y condiciones</a></li>
      </ul>
      <p class="section-description txt-center fsize-1">&copy; 2021 CERVEXA</p>
    </section>
  </footer>
</body>

</html>