<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/e04cd2d7e3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/normalize.css">    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/flickity.css">
    <link rel="stylesheet" href="/css/formulario.css">
</head>
<body>
  <header>
    <p class="bar-message">¡Envíos gratis por compras superiores a $20.000!</p>
    <div class="site-header">
      <div class="menu-navbar-icon">
        <i class="secondary-color fas fa-bars fa-2x"></i>
      </div>
      <a class="logo_button" href="/"><h1>CERVEXA</h1></a>
      <div class="cart-navbar-icon">
        <i class="secondary-color fas fa-shopping-basket fa-2x"></i>
      </div>
      <form>
        <input type="search" placeholder="Buscar producto, marca, categoría..." data-3>
        <button data-1><i class="fas fa-search"></i></button>
      </form>
      <nav class="option-menu">
        <ul data-3>
          <li>
            <a href="#" data-1>
              <i class="fas fa-gift fa-2x"></i>
              <span>Regalos</span>
            </a>
          </li>
          <li>
            <a href="#" data-1>
              <i class="fas fa-shopping-cart fa-2x"></i>
              <span>Carrito</span>
            </a>
          </li>
          <li>
            <a href="#" data-1>
              <i class="fas fa-user-alt fa-2x"></i>
              <span>Cuenta</span>
            </a>
          </li>
        </ul>
      </nav>
      <nav class="category-menu">
        <ul data-4>
          <li><a href="#" data-1>Descubrir</a></li>
          <li><a href="#" data-1>Promociones</a></li>
          <li><a href="#" data-1>Cerveza</a></li>
          <li><a href="#" data-1>Vino</a></li>
          <li><a href="#" data-1>Ron</a></li>
          <li><a href="#" data-1>Whisky</a></li>
          <li><a href="#" data-1>Tequila</a></li>
          <li><a href="#" data-1>Alimentos</a></li>
        </ul>
      </nav>
    </div>
  </header>
    <main>
        <form action="" class="formulario" id="formulario">

            <!--? Grupo: Correo Electronico -->
            <div class="formulario__grupo" id="grupo__correo">
              <label for="correo" class="formulario__label">Correo Electrónico</label>
              <div class="formulario__grupo-input">
                  <input type="email" class="formulario__input" name="correo" id="correo" placeholder="correo@correo.com">
                  <i class=" formulario__validacion-estado far fa-times-circle"></i>
              </div>
              <p class="formulario__input-error">El correo solo puede contener letras, números, puntos, guiones y guien bajo.</p>
          </div>

            <!--? Grupo: Contraseña-->
            <div class="formulario__grupo" id="grupo__password">
                <label for="password" class="formulario__label">Contraseña</label>
                <div class="formulario__grupo-input">
                    <input type="password" class="formulario__input" name="password" id="password" >
                    <i class=" formulario__validacion-estado far fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 digitos.</p>
            </div>  

            <div class="formulario__mensaje" id="formulario__mensaje">
                    <p><i class="fas fa-exclamation-triangle"></i> <b>Error</b> Ingrese los datos correctamente.</p>                    
            </div>
            <div class="formulario__mensaje2" id="formulario__mensaje2">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Atención</b> Por favor registrese.</p>              
            </div>
            
            <div class="formulario__grupo formulario__grupo-btn-enviar">
                <button type="submit" class="formulario__btn">Ingresar</button>                
                <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">El ingreso fue exitoso</p>
            </div>
            <div class="formulario__grupo formulario__grupo-btn-enviar">
              <button onclick="location.href='/registro'"  class="formulario__btn">Registrarse</button>                
            </div>            
        </form>
        <div class="password_recovery">
          <div class="input_password">
            <input type="email" name="" class="email_password" placeholder="Ingresa tu correo electronico">
          </div>
          <div class="input_submit">
            <button type="submit">Recuperar Contraseña</button>
          </div>         
        </div>
    </main>
    <footer class="site-footer">
      <section class="container">
        <header class="section-header">
          <p class="section-description">INSCRRIBETE PARA RECIBIR</p>
          <h2 class="primary-title">NUESTRO BOLETÍN</h2>
        </header>
        <form class="newsletter-form">
          <input type="email" placeholder="Ingresa tu correo elétronico...">
          <button type="submit">Enviar</button>
          <small>Debes tener más de 18 años para usar nuestro sitio e inscribirte en las promociones.</small>
        </form>
        <hr class="mt-2">
        <ul class="links-list">
          <li class="list-content"><a class="footer-link" href="#">Sobre nosotros</a></li>
          <li class="list-content"><a class="footer-link" href="#">Preguntas frecuentes</a></li>
          <li class="list-content"><a class="footer-link" href="#">Políticas de privacidad</a></li>
          <li class="list-content"><a class="footer-link" href="#">Términos y condiciones</a></li>
        </ul>
        <p class="section-description txt-center fsize-1">&copy; 2021 CERVEXA</p>
      </section>
    </footer>
    <script src="/js/login.js"></script>
</body>
</html>