* {
    box-sizing: border-box;
}

:root {
    background-color: #f6f5f3;
    box-sizing: border-box;
    font-size: 10px;

    /* Color Variables */
    --primary-color: #444444;
    --secondary-color: #b59049;
    --tertiary-color: #ffffff;
    --quaternary-color: #cb3837;
    /* Font Variables */
    --primary-font: 'Work Sans', sans-serif;
    --secondary-font: 'Unna', serif;
    --tertiary-font: 'Roboto', sans-serif;
}

a[data-1] {
    color: inherit;
    text-decoration: none;
}

a[data-2] {
    background-color: transparent;
    border: .1rem solid var(--secondary-color);
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    height: min-content;
    padding: .6rem 3.1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

a[data-3] {
    background-color: var(--secondary-color);
    border: .1rem solid var(--secondary-color);
    color: white;
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    padding: .6rem 3.1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

body {
    font-family: var(--tertiary-font);
    font-size: 1.3rem;
}

button[data-1] {
    background-color: var(--secondary-color);
    border: .1rem solid var(--secondary-color);
    color: white;
    padding: 1.7rem;
}

button[data-2] {
    border: .1rem solid var(--secondary-color);
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: 1.8rem;
    font-weight: 700;
    padding: .1rem 1.5rem;
}

button[data-3] {
    color: #888887;
    background-color: transparent;
    border: none;
}

button[data-4] {
    color: var(--secondary-color);
    cursor: pointer;
    background-color: white;
    border: .1rem solid var(--secondary-color);
    font-weight: 600;
    padding: 1rem;
    transition: all 500ms;
    width: auto;
}

button[data-4]:hover {
    color: white;
    background-color: var(--secondary-color);
}

button[data-5] {
    background-color: var(--secondary-color);
    border: .1rem solid var(--secondary-color);
    color: white;
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

form[data-1] {
    display: flex;
    flex-flow: column nowrap;
}

header[data-1] {
    background-color: #f6f5f3;
}

h2[data-1] {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 2.4rem;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}

h3[data-1] {
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: 1.4rem;
    margin: 0;
    text-transform: uppercase;
}

img[data-1] {
    max-width: 100%;
}

input[data-1] {
    border: .1rem solid var(--secondary-color);
    padding: .8rem;
}

input[data-2] {
    border: .1rem solid var(--secondary-color);
    padding: .8rem;
    width: 80%;
}

input[data-3] {
    border: .1rem solid var(--secondary-color);
    padding: 1.7rem 1.7rem 1.7rem 2.7rem;
    width: 83%;
}

input[data-4] {
    border: .1rem solid var(--secondary-color);
    max-width: 100%;
    padding: .8rem;
}

main[data-1] {
    background-color: #e7e2d9;
}

main[data-2] {
    background-color: white;
}

p[data-1] {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 600;
    margin: .6rem 0 .4rem 0;
    text-transform: uppercase;
}

p[data-2] {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}

p[data-3] {
    color: var(--secondary-color);
    display: flex;
}

p[data-4] {
    display: flex;
    flex-flow: column nowrap;
}

p[data-5] {
    font-size: 1.325rem;
    font-weight: 600;
    margin: .4rem 0 .6rem 0;
}

p[data-6] {
    color: #88888bf2;
    font-size: 1.2rem;
    font-weight: bold;
    margin: .4rem 0;
    text-transform: uppercase;
}

section > header {
    align-items: center;
    display: flex;
    flex-flow: column;
}

section > header > h2 {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
}

section[data-1] {
    max-width: 120rem;
    padding: 1.6rem;
    margin: 0 auto;
}

ul[data-3] {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul[data-4] {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

/************************************/
/********** Custom Classes **********/
/************************************/

.all-products {
    background: var(--tertiary-color);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 1rem;
}

.b1 {
    background-color: var(--secondary-color);
    border: .1rem solid var(--secondary-color);
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 1.5rem;
}

.banner-content .image {
    background-image: url('/images/Marquee-Desktop-ValentineGG_2530x1400.webp');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vw;
}

.banner-content .info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.banner-content .info a[role=button]
{
    background-color: transparent;
    border: .1rem solid #a89e8a;
    color: #a89e8a;
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    margin: 1.6rem 0;
    padding: .6rem 3.1rem;
    text-decoration: none;
}

.banner-content .info h3 {
    border-bottom: .1rem solid #a89e8a;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 2.4rem;
    margin: 0 0 1.1rem;
    padding-bottom: 1.1rem;
    text-transform: uppercase;
}

.banner-content .info p:nth-child(1) {
    color: #a89e8a;
    font-family: var(--primary-font);
    font-size: 1.2rem;
    margin: 0;
    text-transform: uppercase
}

.banner-content .info p:nth-child(3) {
    color: #a89e8a;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 1.3em;
    margin: 0;
    text-align: center;
    text-transform: unset;
    width: 90%;
}

.bottom-banners {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    max-width: 120rem;
    padding: 1.6rem;
}

.bottom-banners article {
    align-items: center;
    background: black;
    display: flex;
    flex-flow: column wrap;
    flex: 1 27.5rem;
    justify-content: flex-end;
    min-height: 37rem;
    margin: .5rem;
    padding: 2rem;
}

.bottom-banners article[data-item=one]{
    background-color: #1b0000;
    background-image: url('/images/Homepage_Tout_VDay.webp');
    background-position: center 1rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.bottom-banners article[data-item=two]{
    background-color: black;
    background-image: url('/images/Homepage_Tout_Sagamore.webp');
    background-position: center 1rem;
    background-repeat: no-repeat;
    background-size: contain;
}


.bottom-banners article h3 {
    border-bottom: .1rem solid #a89e8a;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 2.4rem;
    font-weight: normal;
    margin: 0;
    margin-bottom: 1.1rem !important;
    padding-bottom: 1.1rem;
}

.bottom-banners article p {
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
}

.btn-primary {
    color: var(--secondary-color);
    background-color: white;
    border: .1rem solid var(--secondary-color);
    font-weight: 600;
    padding: 1rem;
    width: 100%;
}

.cart-content {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
}

.cart-invoice {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.cart-invoice > a[data-3] {
    margin-bottom: 1.6rem;
}

.cart-invoice > p {
    border-bottom: .1rem solid #cccaca;
    border-top: .1rem solid #cccaca;
    font-family: var(--primary-font);
    font-size: 1.8rem;
    justify-content: space-between;
    margin:0 0 2rem;
    padding: 1.4rem;
}

.cart-item {
    border-top: .1rem solid #cccaca;
    padding: 2rem 0;
    justify-items: normal;
    display: grid;
    grid-template-columns: 100px 180px auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "item-image item-category item-category"
    "item-image item-name item-name"
    "item-image item-price item-price"
    "item-image item-quantity item-delete";
    width: min-content;
}

.cart-item > button {
    grid-area: item-delete;
}

.cart-item > form {
    display: flex;
    grid-area: item-quantity;
}

.cart-item > form > button:first-child {
    border-right: none;
}

.cart-item > form > button:last-child {
    border-left: none;
}

.cart-item > form > input{
    max-width: 20%;
    text-align: center;
}

.cart-item > h3 {
    grid-area: item-name;
}

.cart-item > img {
    grid-area: item-image;
    max-width: 100px;
    height: 100px;
    padding-right: 1rem;
}

.cart-item > p:nth-child(2) {
    grid-area: item-category;
}

.cart-item > p:nth-child(4) {
    grid-area: item-price;
}


.cart-navbar-icon {
    grid-area: cart-icon;
}

.category-menu ul > li {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.6rem 0;
    text-transform: uppercase;
}

.edit-product > h2 {
    text-align: center;
}

.form-entry {
    display: flex;
    flex-flow: column;
}

.form-entry > input {
    background-color: #f6f5f3;
    border: .1rem solid var(--secondary-color);
    padding: 1.5rem;
}

.form-entry > label {
    display: none;
}

.form-entry > span {
    color: var(--quaternary-color);
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.form-entry.p1 {
    flex-flow: row wrap;
}

.form-entry.p1 > label {
    margin-left:  .5rem;
}

.form-entry.p1 > span {
    width: 100%;
}

.is-invalid {
    border: .1rem solid var(--quaternary-color) !important;
}

.l1 {
    display: block !important;
}

.main-banner {
    background-color: #1a060d;
    width: 100%;
}

.m1 {
    align-items: center;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
}

.main-banner > .banner-content {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    max-width: 120rem;
    padding: 1.6rem;
}

.menu-navbar-icon {
    grid-area: menu-icon;
}

.newsletter-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1rem;
}

.newsletter-form button {
    background-color: var(--secondary-color);
    border: .1rem solid var(--secondary-color);
    color: white;
    padding: .8rem;
}



.newsletter-form small {
    font-size: 1.1rem;
    margin-top: 1rem;
    text-align: center;
}

/* .search-bar {
    display: none;
} */

.option-menu ul > li {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 600;
    padding: 1.6rem;
    text-transform: uppercase;
}

.option-menu a {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
}

.option-menu a > i {
    color: var(--secondary-color);
}


.option-menu a > span {
    margin-top: 1rem;
}

.s1 {
    max-width: 72rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    width: fill-available;
    width: -moz-available;
    width: -webkit-fill-available;
}

.shopping-cart {
    margin: 0 auto;
    max-width: 120rem;
    padding: 1.6rem;
}

.shopping-cart h2[data-1] {
    margin-bottom: 1.6rem;
}

.site-header {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "menu-icon logo cart-icon";
    justify-items: center;
    margin: 0 auto;
    max-width: 120rem;
    padding: 1.6rem;
}

.site-header > form {
    grid-area: search-bar;
    align-self: center;
    display: none;
    justify-content: center;
}

.site-header > h1 {
    grid-area: logo;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 2.5rem;
    margin: 0;
    text-transform: uppercase;
}

.site-header .category-menu {
    grid-area: category-menu;
    border-top: 1px solid #e7e6e4;
    display: none;
    margin-top: 2rem;
}

.site-header .option-menu{
    grid-area: option-menu;
    display: none;
}
















.article-description {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 0;
}

.article-info {
    line-height: 1.8rem;
    margin: 0;
}

.banner-image {
    width: 100%;
}

.bar-message {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-weight: 500;
    margin: 0;
    padding: .9rem;
    text-align: center;
}


.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 1.6rem;
}

.secondary-container {
    max-width: 120rem;
    margin: 0 auto;
}


.footer-link {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
}

.header-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 5.7rem;
}

.highlighted-banners {
    display: flex;
    flex-flow: row wrap;
    padding-top: 0;
}

.highlighted-item {
    align-items: center;
    background: black;
    display: flex;
    flex-flow: column wrap;
    flex: 1 27.5rem;
    justify-content: flex-end;
    min-height: 37rem;
    margin: .5rem;
    padding: 2rem;
}

.hl-description {
    text-align: center;
}

.hl-item1 {
    background-color: black;
    background-image: url('/images/Louis-XIII-Tout.jpg');
    background-position: center 1rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.hl-item2 {
    background-color: black;
    background-image: url('/images/Homepage_Tout_TheMac.jpg');
    background-position: center 1rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.hl-name {
    padding-bottom: 1.1rem;
    margin-bottom: 1.1rem !important;
    border-bottom: .1rem solid #a89e8a;
}

.item-description {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 600;
    margin: .6rem 0 .4rem 0;
}

.items-container {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2rem;
 }
 
 .item-details {
     flex: 1 16rem;
     padding: 1rem 2rem;
     text-align: center;
 }
 
 .item-image {
     max-width: 25rem;
     width: 100%;
 }
 
 .item-image-container {
     border: .1rem solid #e9e6e1;
 }

 .item-number {
     font-size: 1.325rem;
     font-weight: 600;
     margin: .4rem 0 .6rem 0;
 }
 
 .item-title {
     color: var(--secondary-color);
     font-family: var(--primary-font);
     font-size: 1.4rem;
     margin: 0;
     text-transform: uppercase;
 }

 .links-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.list-content {
    flex: 1 20rem;
    padding: 1rem 0;
    text-align: center;
}

.main-logo {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    margin: 0;
}

.standard-input {
    border: .1rem solid var(--secondary-color);
    padding: .8rem;
    width: 80%;
}

.primary-title {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 2.4rem;
    font-weight: normal;
    margin: 0;
}

.highlighted-products {
    background-color: white;
}

.product-quantity {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.products-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 1rem;
 }

.product-description > button[data-5] {
    width: 100%;
}

.product-details {
    /* max-width: 25rem; */
    flex: 1 15rem;
    text-align: center;
    margin: 1rem;
}

.secondary-color {
    color: var(--secondary-color);
}

.secondary-text {
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: 1.2rem;
    margin: 0;
}

.section-description {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

.section-info {
    margin: 0;
}

.section-header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 1.4rem;
}

.site-footer {
    background-color: #ebebeb;
}

.special-button {
    background-color: var(--secondary-color);
    border: .1rem solid var(--secondary-color);
    color: white;
    padding: .8rem;
}


/* Global Classes */
.bg-white {
    background-color: white;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.fsize-1 {
    font-size: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.no-padding {
    padding: 0;
}

.txt-center {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    /* :root {
        font-size: 10.5px;
    } */

    .product-info > article {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-template-areas: 
        "product-image product-description";
        /* border-top: .1rem solid #cccaca;
        padding: 2rem 0;
        justify-items: normal;
        display: grid;
        grid-template-columns: 100px 180px auto;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "item-image item-category item-category"
        "item-image item-name item-name"
        "item-image item-price item-price"
        "item-image item-quantity item-delete";
        width: min-content; */
    }

    .product-image {
        grid-area: product-image;
    }

    .product-description {
        grid-area: product-description;
    }

    .product-description > h3[data-1] {
        font-size: 2.2rem;
    }

    .product-description > p[data-5] {
        font-size: 1.4rem;
    }

    .product-description > p[data-6] {
        font-size: 1.6rem;
    }

    .product-details {
        flex: 1 22rem;
        /* max-width: 22rem; */
    }

    .banner-content .image {
        height: 60vw;
        background-position: 20vw;
    }

    .cart-item {
        justify-items: normal;
        grid-template-columns: 200px 1fr 80px;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
        "item-image item-category item-category"
        "item-image item-name item-name"
        "item-image item-price item-price"
        "item-image . ."
        "item-image item-quantity item-delete";
        width: 100%;
    }

    .cart-item > img {
        max-width: 100%;
        height: 150px;
        padding-right: 1rem;
    }

    .cart-item > form > input {
        max-width: 10%;
        text-align: center;
    }
        
}

@media only screen and (min-width: 1200px) {

    .main-banner > .banner-content {
        align-items: center;
        flex-flow: row nowrap;
    }

    .banner-content .image {
        background-position: left;
        width: 60vw;
        height: 42vw;
    }

    .banner-content .info {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 50%;
    }

    .banner-content .info h3 {
        font-size: 4rem;
        margin: 0 0 3.1rem;
        padding-bottom: 1.8rem;
        text-transform: uppercase;
    }

    .banner-content .info p:nth-child(1) {
        font-size: 1.3rem;
    }

    .banner-content .info p:nth-child(3) {
        font-size: 1.7rem;
    }

    .banner-content .info a[role=button] {
        font-size: 1.6rem;
        margin: 2.9rem 0;
        padding: .6rem 3.rem;
    }

    .cart-invoice {
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    .cart-invoice > a[data-3] {
        margin-right: 1rem;
        margin-bottom: 0;
    }

    .cart-invoice > p {
        flex: 1 100%;
    }

    .cart-item > form > input {
        max-width: 8%;
        text-align: center;
    }

    .cart-navbar-icon {
        display: none;
        grid-area: cart-icon;
    }
    .menu-navbar-icon {
        display: none;
        grid-area: menu-icon;
    }

    .product-description > form[data-1] {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .product-description > form[data-1] > button[data-5] {
        width: 60%;
    }

    .site-header {
        padding: 1.6rem 1.6rem 0 1.6rem;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto 
        auto;
        grid-template-areas: 
        "logo search-bar option-menu"
        "category-menu category-menu category-menu";
    }

    .site-header > form {
        grid-area: search-bar;
        align-self: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .site-header > h1 {
        grid-area: logo;
        align-self: center;
        color: var(--secondary-color);
        font-family: var(--secondary-font);
        font-size: 4rem;
        justify-self: left;
        margin: 0;
        text-transform: uppercase;
    }

    .site-header .category-menu {
        display: block;
        grid-area: category-menu;
        border-top: 1px solid #e7e6e4;
        margin-top: 2rem;
        width: 100%;
    }

    .site-header .option-menu{
        display: block;
        grid-area: option-menu;
        width: 100%;
    }

}