<header data-1>
    <p class="bar-message">¡Envíos gratis por compras superiores a $20.000!</p>
    <div class="site-header">
      <div class="menu-navbar-icon">
        <i class="secondary-color fas fa-bars fa-2x"></i>
      </div>
      <h1><a href="/" data-1>Cervexa</a></h1>
      <div class="cart-navbar-icon">
        <a href="/cart">
          <i class="secondary-color fas fa-shopping-basket fa-2x"></i>
        </a>
      </div>
      <form>
        <input type="search" placeholder="Buscar producto, marca, categoría..." data-3>
        <button data-1><i class="fas fa-search"></i></button>
      </form>
      <nav class="option-menu">
        <ul data-3>
          <li>
            <a href="#" data-1>
              <i class="fas fa-gift fa-2x"></i>
              <span>Regalos</span>
            </a>
          </li>
          <li>
            <a href="/cart" data-1>
              <i class="fas fa-shopping-cart fa-2x"></i>
              <span>Carrito</span>
            </a>
          </li>
          <li>
            <a href="/users/login" data-1>
              <i class="fas fa-user-alt fa-2x"></i>
              <span>Cuenta</span>
            </a>
          </li>
        </ul>
      </nav>
      <nav class="category-menu">
        <ul data-4>
          <li><a href="#" data-1>Descubrir</a></li>
          <li><a href="#" data-1>Promociones</a></li>
          <li><a href="#" data-1>Cerveza</a></li>
          <li><a href="#" data-1>Vino</a></li>
          <li><a href="#" data-1>Ron</a></li>
          <li><a href="#" data-1>Whisky</a></li>
          <li><a href="#" data-1>Tequila</a></li>
          <li><a href="#" data-1>Alimentos</a></li>
        </ul>
      </nav>
    </div>
  </header>