<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | Cervexa</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/flickity.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/formulario.css">
    <link rel="stylesheet" href="/css/descripcion.css">
    <link rel="stylesheet" href="/css/allUsers.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
      href="https://fonts.googleapis.com/css2?family=Unna:wght@400;700&family=Work+Sans:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap"
      rel="stylesheet">
    <script src="https://kit.fontawesome.com/c094c4f2ad.js" crossorigin="anonymous"></script>
    <script src="/js/flickity.pkgd.min.js"></script>
  </head>