.site-header {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: "mobile-menu main-title mobile-cart";
    justify-items: center;
    max-width: 120rem;
    padding: 1.5rem;
    width: 100%;
}

.main-title {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 2.5rem;
    font-weight: bold;
    grid-area: main-title;
    text-align: center;
    text-transform: uppercase;
}

.mobile-menu {
    grid-area: mobile-menu;
}

.mobile-cart {
    grid-area: mobile-cart;
}
