<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
<body class="body_formulario">
  <%- include('../partials/header') %>
    <main class="main_formulario">
        <form action="" class="formulario" id="formulario">

            <!--? Grupo: Correo Electronico -->
            <div class="formulario__grupo" id="grupo__correo">
              <label for="correo" class="formulario__label">Correo Electrónico</label>
              <div class="formulario__grupo-input">
                  <input type="email" class="formulario__input" name="correo" id="correo" placeholder="correo@correo.com">
                  <i class=" formulario__validacion-estado far fa-times-circle"></i>
              </div>
              <p class="formulario__input-error">El correo solo puede contener letras, números, puntos, guiones y guien bajo.</p>
          </div>

            <!--? Grupo: Contraseña-->
            <div class="formulario__grupo" id="grupo__password">
                <label for="password" class="formulario__label">Contraseña</label>
                <div class="formulario__grupo-input">
                    <input type="password" class="formulario__input" name="password" id="password" >
                    <i class=" formulario__validacion-estado far fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 digitos.</p>
            </div>  

            <div class="formulario__mensaje" id="formulario__mensaje">
                    <p><i class="fas fa-exclamation-triangle"></i> <b>Error</b> Ingrese los datos correctamente.</p>                    
            </div>
            <div class="formulario__mensaje2" id="formulario__mensaje2">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Atención</b> Por favor registrese.</p>              
            </div>
            
            <div class="formulario__grupo formulario__grupo-btn-enviar">
                <button type="submit" class="formulario__btn">Ingresar</button>                
                <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">El ingreso fue exitoso</p>
            </div>
            <div class="formulario__grupo formulario__grupo-btn-enviar">
              <button onclick="location.href='/users/register'"  class="formulario__btn">Registrarse</button>                
            </div>            
        </form>
        <div class="password_recovery">
          <div class="input_password">
            <input type="email" name="" class="email_password" placeholder="Ingresa tu correo electronico">
          </div>
          <div class="input_submit">
            <button type="submit">Recuperar Contraseña</button>
          </div>         
        </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/login.js"></script>
</body>
</html>