<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <main class="m1">
    <section class="account-access s1">
      <header>
        <h2>Inica Sesión o Crea una Cuenta</h2>
      </header>
      <div>
        <header>
          <h3>Iniciar Sesión</h3>
          <hr/>
          <p>Si ya tienes una cuenta con nosotros, inicia sesión utilizando tu correo electrónico.</p>
        </header>
        <form>
          <p class="form-entry">
            <label for="email">Correo electrónico</label>
            <input id="email" name="email" type="email" placeholder="Correo electrónico" required/>
          </p>
          <p class="form-entry">
            <label for="password">Contraseña</label>
            <input id="password" name="password" type="password" placeholder="Contraseña" required/>
          </p>
          <button class="b1" type="submit">Continuar</button>
          <p>
            ¿Olvidaste tu contraseña?
          </p>
        </form>
      </div>
      <div>
        <header>
          <h3>Nuevos Clientes</h3>
          <hr/>
          <p>Crea una cuenta en nuestra tienda para comprar rápidamente, almacenar muúltiples direcciones de entrega,
            visualizar y hacer seguimiento a tus pedidos en tu cuenta y mucho más. </p>
        </header>
        <a href="#">Registrarme</a>
      </div>
    </section>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>